.header {
    background-color: var(--color-white);
    width: 100%;
    color: var(--color-font-light);
    text-transform: uppercase;
    z-index: 100;
    border-bottom: 1px solid var(--color-light-grey);
}
/** MAIN HEADER  ********************************************/
.mainHeader {
    width: var(--page-max-width);
    margin-inline: auto;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
    font: var(--font-small);
}
.mainHeader > * {
    padding: .5rem;
    border-right: 1px solid var(--color-light-grey);
    grid-row: 1;
    display: flex;
    align-items: center;
    height: 100%;
}
.mainHeader > *:first-child {
    padding-left: 0;
}
.mainHeader > *:last-child {
    padding-right: 0;
    border-right: 0;
    justify-self: flex-end;
}
.logo {
    width: 8rem;
    height: auto;
}
.logoMobile {
    height: min(1.2em, 6vw);
    width: auto;
    display: none;
}
.navMain {
    justify-self: flex-end;
}
.userStatus {
    justify-self: flex-end;
}
@media (max-width: 768px) {
    .mainHeader {
        grid-template-columns: auto auto;
    }
    .mainHeader {
        font: var(--font);
    }
    .mainHeader > * {
        border-right: 0;
    }
    .mainHeader > *:last-child {
        padding-left: 0;
        grid-column: 2;
    }
    .mainHeader > *:last-child > * {
        padding-left: 0;
    }
    .navMain {
        display: none !important;
    }
    .userStatus {
        display: none;
    }
    .logo {
        display: none;
    }
    .logoMobile {
        display: block;
    }
}
/** MOBILE MENU    ******************************************/
.menuButton {
    grid-row: 1;
    justify-self: end;
    font: inherit;
    font-size: 1.9em;
    color: inherit;
    padding: 0.5rem 1rem;
    padding-right: 0;
}
.menuButton::after {
    content: url('../../../public/img/hamburger.svg');
}
@media screen and (min-width: 768px) {
    .menuButton {
        display: none;
    }
}
.mobileMenu {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    align-items: flex-end;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 2em;
    font: var(--font-xx-big);
}
.navMobile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 0 !important;
    row-gap: 1em;
}