.header {
    background-color: var(--color-white);
    width: 100%;
    color: var(--color-font-light);
    text-transform: uppercase;
}
/** MAIN HEADER  ********************************************/
.mainHeader {
    width: 100%;
    padding: 0 10%;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
    font-size: var(--font-size-small);
}
.mainHeader > * {
    padding: .5rem;
    border-right: 1px solid var(--color-light-grey);
    grid-row: 1;
    display: flex;
    align-items: center;
    height: 100%;
}
.mainHeader > *:first-child {
    padding-left: 0;
}
.mainHeader > *:last-child {
    padding-right: 0;
    border-right: 0;
    justify-self: flex-end;
}
.mainLogo {
    width: 8rem;
    height: auto;
}
.navMain {
    justify-self: flex-end;
}
.userStatus {
    justify-self: flex-end;
}
@media (max-width: 768px) {
    .mainHeader {
        font-size: var(--font-size-normal);
    }
    .mainHeader {
        padding: 0 1rem;;
    }
    .mainHeader > * {
        border-right: 0;
    }
    .mainHeader > *:last-child {
        padding-left: 0;
        grid-column: 2;
    }
    .mainHeader > *:last-child > * {
        padding-left: 0;
    }
    .navMain {
        display: none !important;
    }
}
/** MOBILE MENU    ******************************************/
.menuButton {
    grid-row: 1;
    justify-self: end;
}
@media screen and (min-width: 768px) {
    .menuButton {
        display: none;
    }
}
.mobileMenu {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    align-items: flex-end;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 2em;
    font-size: var(--font-size-xx-big);
    /* font-weight: var(--font-weight-bold); */
    line-height: var(--line-height-normal);
    /* letter-spacing: var(--letter-spacing-big); */
}
.navMobile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 0 !important;
    row-gap: 1em;
}