/* LIST  ****************************************************************/
.list {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
/* ITEM  ****************************************************************/
.item {
  position: relative;
  width: 100%;
  background-color: var(--color-white);
  color: var(--color-black);
  box-shadow: 1px 1px 10px 0px rgb(0 0 0 / 50%);
  display: grid;
  grid-template-columns: auto 22rem;
  flex-direction: row;
  grid-column: auto;
}
.item:hover {
  transition: all .3s ease-in-out;
  transform: translate(0px, -2%);
}
/* IMAGE ****************************************************************/
.image {
  aspect-ratio: 16/9;
  width: 100%;
  object-fit: cover;
  grid-column: 1;
  grid-row: 1;
}
/* OVERLAY  *************************************************************/
.overlay {
  padding: 1rem;
  color: var(--color-white);
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  background: linear-gradient(180deg, #000000 -50%, #00000000 54%);
}
.title {
  font: var(--font-xx-big);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}
.subtitle {
  font-size: var(--font-size-small);
}
/* INFO     *************************************************************/
.info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto min-content;
  row-gap: 1rem;
  padding: 1rem;
  font-size: var(--font-size-small);
}
.moreInfo {
  align-self: end;
  text-transform: uppercase;
  font-size: var(--font-size-x-small);
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-light-grey-readable);
  justify-self: end;
}
.moreInfo::after {
  content: ' >';
}
.synopsis {
  position: relative;
  overflow: hidden;
}
.synopsis::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background: linear-gradient(transparent, var(--color-white));
}
/* MOBILE   *************************************************************/
@media screen and (max-width: 1000px) {
  .item {
    grid-template-columns: 1fr 1fr;
  }
  .info {
    aspect-ratio: 16/9;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1150px) {
  .synopsis {
    height: 26vw;
  }
}
@media screen and (min-width: 1151px) {
  .synopsis {
    height: 20em;
  }
}
@media screen and (max-width: 768px) {
  .item {
    grid-template-columns: 1fr;
  }
  .imgWrapper {
    height: unset;
  }
  .imgWrapper img {
    height: auto;
    aspect-ratio: 16/9;
  }
}