.container ul {
  text-align: left;
}
.container a span {
  text-decoration: underline;
}
.container a,
.container a:visited {
  color: inherit;
}
.container a::after {
  content: "\2197";
  text-decoration: none !important;
}
