.container ul {
    max-width: var(--page-max-width);
    text-align: left;
}
@media screen and (min-width: 768px) {
    .container ul {
      max-width: min(70vw, 1100px);
      margin-left: auto;
      margin-right: auto;
    }
}

.imageWrapper {
    width: 100%;
}
.imageWrapper img {
    object-fit: contain;
    width: 100%;
    max-height: 25em;
}
@media screen and (min-width: 768px) {
    .imageWrapper {
        max-width: min(70vw, 1100px);
        margin-left: auto;
        margin-right: auto;
    }
}

.videoWrapper {
    width: 100%;
}

.container a span {
    text-decoration: underline;
}
.container a:visited {
    color: inherit;
}
.container a::after {
    content: "\2197";
    text-decoration: none !important;
}

.container p {
    max-width: var(--page-max-width);
    margin-inline: auto;
}