DOMAIN=example.com
PAYLOAD_SECRET=secret123
PAYLOAD_PUBLIC_SERVER_URL=https://kinoimblauensalon.de

MONGO_URL=mongodb://localhost:27017

TIMEZONE=Europe/Berlin

EMAIL_FROM=info@example.com
EMAIL_FROM_NAME=App
CONNECTED_EMAIL_ADDRESSES=admin@example.com,info@example.com

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=user
SMTP_PASS=secret123

HCAPTCHA_SITE_KEY=aldskf12-7148-4080-bbd6-lkasdjf123df
HCAPTCHA_SECRET_KEY=secret123

THEMOVIEDB_API_KEY=secret123

S3_ENABLED=true
S3_ENDPOINT=my-bucket
S3_BUCKET=my-bucket
S3_REGION=eu-central-1
S3_ACCESS_KEY=secret123
S3_SECRET_KEY=secret123

# origin of your images
MEDIA_URL=https://my-bucket.s3.eu-central-1.amazonaws.com

# url of the Cloudflare Image Transformations API
# can be a relative path if you use the same domain, e.g. /cdn-cgi/image
CDN_CGI_IMAGE_URL=https://example.com/cdn-cgi/image

# how to find it: https://www.npmjs.com/package/react-mailchimp-form
MAILCHIMP_SIGNUP_URL=https://example.us1.list-manage.com/subscribe/post?u=secret123&id=secret123