.container main {
  max-width: var(--page-max-width);
  margin-inline: auto;
}
/** IMAGE HEADER   ******************************************/
.infoTitle {
  display: block;
}
.infoTitle > *:last-child {
  margin-bottom: 0;
}
.date {
  font: var(--font-big);
  font-weight: var(--font-weight-bold);
}
.location {
  font: var(--font-big);
}
.tag {
  font-weight: var(--font-weight-bold);
  display: inline-block;
  padding: 0 0.2rem;
  border-radius: 0.6em;
  margin-inline-end: 0.5rem;
}
.tag.series {
  background-color: var(--color-theme-contrast-light-2);
}
a.tag {
  text-decoration: none !important;
  color: inherit !important;
}
.title {
  font: var(--font-x-big);
  font-weight: var(--font-weight-bold);
  margin-block: 1rem;
  text-transform: uppercase;
}

/** MOVIES   ************************************************/
.movies > * {
  margin-block-end: 2rem;
}
.movies > *:not(:last-child) {
  border-bottom: 1px solid var(--color-font-light);
  padding-block-end: 2rem;
}
@media screen and (max-width: 768px) {
  .posters {
    display: none;
  }
}
