.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
  grid-gap: 1em;
  margin-block: 2em;
  margin-inline: auto;
  width: min(100%, 20em);
}
.container > * {
  justify-self: center;
  align-self: center;
  width: fit-content;
}
.container a {
  color: inherit;
  font-size: 1.5em;
}
.container a[aria-disabled="true"] {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}
