.container {
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  background-color: #000;
  color: #fff;
  max-width: var(--page-max-width);
}
.container.loading > *:not(.message) {
  display: none;
}
.message {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}