.footer {
  width: 100%;
  background-color: #3c3c3c;
  background-color: #6b6b6b;
  color: var(--color-white);
  padding-block: 2rem;
  border-top: 1px solid var(--color-light-grey);
}
.content {
  max-width: var(--page-max-width);
  margin-inline: auto;
  padding-block: 1rem;
  display: grid;
  grid-template-columns: repeat(4, auto);
  row-gap: 1rem;
  justify-content: space-between;
}
.content > *,
.content > nav a {
  align-items: start;
  margin-top: 0;
  margin-left: 0;
  padding-top: 0;
  padding-left: 0;
}
.navFooter,
.navSocial {
  font: inherit;
}
/* prettify hover */
.footer a {
  color: inherit !important;
}
.footer a:hover {
  cursor: pointer;
  filter: brightness(0.5);
  transition: filter 0.4s;
}
/** Grid Layout ************************************************************************/
.address {
  grid-area: 1 / 1 / 3 / 2;
}
.address * {
  margin-top: 0;
  margin-bottom: 0;
  line-height: inherit;
}

.navFooter {
  grid-area: 1 / 2 / 3 / 3;
  flex-direction: column;
}
.navSocial {
  grid-area: 1 / 3 / 2 / 4;
}
.newsletter {
  grid-area: 1 / 4 / 2 / 5;
}
.logos {
  grid-area: 3 / 1 / 4 / 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-block: 2rem;
}

/** Mobile Grid Layout *****************************************************************/
@media (max-width: 1000px) {
  .content {
    padding-block: 2rem;
  }
}
@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .content > * {
    grid-column: 1 !important;
    justify-self: center;
  }
  .newsletter {
    grid-row: 1;
  }
  .navSocial {
    grid-row: 2;
  }
  .address {
    grid-row: 3;
    text-align: center;
  }
  .navFooter {
    grid-row: 4;
    justify-content: center;
  }
  .navFooter,
  .navSocial {
    align-items: center;
  }
}
