.container {
  padding-block: 2rem;
}
.header {
  font: var(--font-small);
  color: var(--color-light-grey);
  margin-block: 1em;
}
.container h1 {
  font: var(--font-h2);
  background: inherit !important;
  color: inherit !important;
  margin-block: 0.8em;
  text-align: start;
  padding: unset;
}
.image {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: contain;
  object-position: left;
  vertical-align: bottom;
}
.preview {
  font-weight: var(--font-weight-semi-bold);
  font: var(--font-big);
}
