.page {
    width: 100%;
}
.page h1 {
    width: 100%;
    color: var(--color-black);
    background: var(--color-white);
    text-align: center;
    margin: 0;
    font: var(--font-xxx-big);
    font-weight: var(--font-weight-bold);
    line-height: 1.4;
    letter-spacing: var(--letter-spacing-big);
    text-transform: uppercase;
    padding: 1rem
}
.page main {
    padding: 1rem 0;
    max-width: var(--page-max-width);
    margin: 0 auto;
}
/* Type 'info'  *************************************************************/
.page[data-layout-type="info"] {
    color: var(--color-theme-contrast);
}
.page[data-layout-type="info"] h1 {
    color: var(--color-theme-contrast);
    background: var(--color-theme);
    margin-block: 1.5em;
}
.page[data-layout-type="info"] section {
    margin-block: 3rem;
}