.page h1 {
    width: 100%;
    color: var(--color-black);
    background: var(--color-white);
    text-align: center;
    margin: 0;
    font-size: var(--font-size-xxx-big);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-big);
    text-transform: uppercase;
    padding: 1rem
}