.container {
    width: 100%;
    position: relative;
}
.wrapper {
    width: 100%;
    aspect-ratio: 16/9;
    max-height: 50vh;
}
/** IMAGE HEADER   ******************************************/
img.header {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
@media screen and (max-width: 1024px) {
    .wrapper {
        height: 320px;
    }
}
@media screen and (max-width: 768px) {
    .wrapper {
        height: 275px;
    }
}

/** OVERLAY        ******************************************/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    padding: 1rem 10%;
}
.container nav > *:last-child{
    margin-right: 0;
    padding-right: 0;
}
@media screen and (max-width: 768px) {
    .container .overlay {
        padding: .5rem 1rem;
    }
}