.nav {
  display: flex;
  flex-wrap: wrap;
}
.nav[data-type="socialMedia"] {
  column-gap: 0.5rem;
}

/** NAVIGATION ITEM  ***************************************/
.navItem,
.navItem:active,
.navItem:visited {
  color: inherit;
  text-decoration: inherit;
}
.navItem.active {
  color: var(--color-black);
}
.navItem.active:hover {
  color: inherit;
}
@media screen and (max-width: 768px) {
  .navItem.active {
    text-decoration: underline;
    pointer-events: none;
  }
}
.navItem {
  display: inline-block;
  padding: 0.5rem 1rem;
  position: relative;
  overflow-wrap: anywhere;
}
.navItem:hover {
  color: var(--color-black);
}
.image {
  height: 1.4rem;
  width: auto;
}

/** SUBNAVIGATION    ***************************************/
.subnavHost {
  position: relative;
  cursor: pointer;
}
.subnav {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 0;
  background: var(--color-white);
  z-index: 1;
  width: max-content;
  max-width: 30em;
}
.subnavHost:hover {
  color: inherit;
}
.subnavHost:hover .subnav {
  display: flex;
}

/** MOBILE NAVIGATION    ***********************************/
.nav[data-type="mobile"] .subnavHost {
  display: contents;
}
.nav[data-type="mobile"] .subnavHost > .navItem {
  color: var(--color-light-grey);
  padding-block-end: 0;
}
.nav[data-type="mobile"] .subnavHost > .navItem::after {
  content: "▼";
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
.nav[data-type="mobile"] .subnav {
  display: contents;
}
.nav[data-type="mobile"] .subnav .navItem {
  padding-block: 0;
}
.nav[data-type="mobile"] .subnav .navItem::after {
  content: "|";
  display: inline-block;
  width: 0.4em;
  margin-left: 0.5rem;
  text-align: center;
  color: var(--color-light-grey);
}

@media screen and (max-width: 768px) {
  .navItem {
    padding: 0.5rem;
  }
}
