.load-module {
  /* this is just a dummy class to add to the body in order that cssBundler
   * loads this module.
   * The rule defined below is to satisfay CSS linter "no empty ruleset"
   */
  font: inherit;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../public/fonts/DM_Sans/DMSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'DM Sans';
  src: url('../public/fonts/DM_Sans/DMSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'DM Sans';
  src: url('../public/fonts/DM_Sans/DMSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

:root {
  --page-max-width: 1120px;

  --color-theme: #283587;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-theme-contrast: #F6CD03;
  --color-theme-contrast-strong: #F1FF00;
  --color-theme-contrast-light: #FF9EE6;
  --color-theme-contrast-light-2: #62B9A6;
  --color-theme-contrast-dark: #D63312;
  --color-light-grey: #dcdcdc;
  --color-light-grey-readable: #C1C1C1;

  --color-font-light: rgb(132, 132, 132);;

  --color-font: #000000;
  /*--color-font: #2D2A2D;  /* logo grey */
  --color-font-light: #9A9391;
  --color-font-bright: #FFFFFF;
  --color-font-bright-2: #E8E8E8;
  --color-font-bright-3: #9A969B;

  --font-size-xxx-big: 2.5rem;
  --font-size-xx-big: 1.9rem;
  --font-size-x-big: 1.7rem;
  --font-size-big: 1.3rem;
  --font-size-normal: 1rem;
  --font-size-small: .9rem;
  --font-size-x-small: .8rem;

  --font-family-sans-serif: 'DM Sans', 'Helvetica', sans-serif;
  --font-family-serif: 'Times', serif;
  --font-weight-bold: 600;
  --font-weight-semi-bold: 500;
  --font-weight-normal: 400;
  --font-weight-light: 200;

  --line-height-xxx-big: 2em;
  --line-height-big: 1.5em;
  --line-height-normal: 1.4em;

  --letter-spacing-big: .1em;
  --letter-spacing-x-big: .11em;
  
  --border-radius: 2px;
  --box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
}
@media (max-width: 768px) {
  :root {
    --font-size-xxx-big: 1.9rem;
    --font-size-xx-big: 1.7rem;
    --font-size-x-big: 1.3rem;
    --font-size-big: 1.15rem;
    --font-size-normal: 1rem;
    --font-size-small: .9rem;
    --font-size-x-small: .8rem;

    --border-radius: 5px;
  }
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html {
  font-family: var(--font-family-sans-serif);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
body {
  background-color: var(--color-bg);
  color: var(--color-font-bright);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-sans-serif);
  text-transform: capitalize;
}

a {
  text-decoration: none;
  transition: 0.4s;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid var(--color-font-light);
  outline: 0;
  margin-block: 3em;
}
.link-theme,
.link-theme a {
  text-decoration: none;
  color: inherit;
}
/* improve readablity */
p {
  max-width: calc(100vw - 2 * var(--page-margin));
}
@media screen and (min-width: 768px) {
  p {
    max-width: min(70vw, 1100px);
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  *[data-mobile-only] {
    display: none;
  }
}
/** Box *************************************************************/
.box {
  padding: 2em;
  border-radius: var(--border-radius);
  background-color: rgba(0,0,0,0.05);
  margin-block: 2em;
  box-shadow: var(--box-shadow);
}
/** Box *************************************************************/
.cookiesWrapper {
  position: fixed; 
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
}
.cookies {
  position: relative !important;
  margin: var(--page-margin);
  width: unset !important;
  background: rgba(255, 255, 255, 0.9) !important;
  backdrop-filter: blur(10px);
  color: var(--color-font) !important;
  border-radius: .5em !important;
  align-items: flex-end !important;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, .1);
}
.cookieContent {
  max-width: 30em;
}
.cookieButtons {
  display: flex !important;
  justify-content: flex-end;
}
.cookieButtonAccept,
.cookieButtonDecline {
  padding: 1em !important;
  border-radius: 0 !important;
  border: 1px solid !important;
  border-radius: .3em !important;
  min-width: 12em !important;
}
.cookieButtonAccept:hover,
.cookieButtonDecline:hover {
  filter: brightness(1.1);
}
.cookieButtonAccept {
  background: green !important;
  color: var(--color-white) !important;
  border-color: green !important;
}
.cookieButtonDecline {
  background: none !important;
  color: var(--color-font-bright-3) !important;
}
@media screen and (max-width: 768px) {
  .cookieButtons {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .cookieButtonAccept,
  .cookieButtonDecline {
    min-width: unset !important;
  }
  
}