img.header{
  width: 100%;
  height: 48vh;
  object-fit: cover;
  object-position: center;
  min-height: 2rem;
}
.container main {
  max-width: min(70em, 94vw);
  margin-inline: auto;
  margin-block: 3vw;
}