.container {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: var(--font-family-serif);
    font-weight: 400;
    font-size: var(--font-size-x-big);
    line-height: 137%;;
    margin-block: 1em;
}