ul.posts {
  display: flex;
  flex-direction: column;
  -webkit-appearance: none;
  appearance: none;
  list-style: none;
  margin: 0;
  padding-inline: 0;
  width: 100%;
}
.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20rem;
}
ul.posts > li hr {
  margin-block: 1.5em;
}
ul.posts > li:last-child hr {
  display: none;
}
ul.posts > li p {
  margin-left: 0;
}