@import '~payload/scss';

.container {
  margin-block: 2rem;
}
.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-block-end: 1rem;
}
.container label {
  display: block;
  margin-block-end: .5rem;
}
.container button {
  cursor: pointer;
  font-weight: 500;
  margin-inline: .5rem;
}
.container button[data-button-type="cancel"] {
  color: var(--theme-elevation-400);
}
.container button,
.container input {
  box-shadow: 0 2px 3px 0 rgb(0 2 4 / 5%), 0 10px 4px -8px rgb(0 2 4 / 2%);
  font-family: var(--font-body);
  // width: 100%;
  border: 1px solid var(--theme-elevation-150);
  background: var(--theme-input-bg);
  color: var(--theme-elevation-800);
  border-radius: 0;
  font-size: 1rem;
  height: 3.8461538462rem;
  line-height: 1.9230769231rem;
  padding: 0.9615384615rem 1.4423076923rem;
  -webkit-appearance: none;
}
.horizontal {
  display: flex;
  flex-direction: row;
}
.horizontal > * {
  width: min-content;
}
.error {
  color: #e74c3c;
  font-size: 1rem;
  margin-block-start: .5rem;
}

// image selector
.image-selector .choices {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-block: 1rem;
  flex-wrap: wrap;
}
.image-selector .choice img {
  border: 4px solid transparent;
}
.image-selector[data-type="backdrop"] .choice {
  width: 20rem;
}
.image-selector[data-type="poster"] .choice {
  width: 15rem;
}
.image-selector .choice input {
  display: none;
}
.image-selector .choice input[type="radio"]:checked + img {
  border-color: blue;
}