.svg line {
  fill: none;
  stroke: #000000;
  stroke-width: 1px;
  transition: all 0.3s ease-in-out;
}

/* fade out upper and bottom line */
.svg.collapsed .line1,
.svg.collapsed .line4 {
  opacity: 0;
}

/* middle lines rotate 45 degrees and -45 degrees respectively */
.svg .line2,
.svg .line3 {
  transform-origin: center;
}
.svg.collapsed .line2 {
  transform: rotate(45deg) scale(0.8);
}
.svg.collapsed .line3 {
  transform: rotate(-45deg) scale(0.8);
}
