.container {
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 1rem;
}
.container > * {
  grid-row: auto;
  grid-column: 2;
}
.container img.poster {
  grid-row: 1 / span 6;
  grid-column: 1;
  width: 260px;
  height: auto;
}
.container h2 {
  font: var(--font-xx-big);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  margin: 0;
  word-wrap: break-word;
}
.container ul.specs {
  appearance: none;
  list-style: none;
  padding: 0;
  margin: 0;
  font: var(--font-small);
  color: var(--color-light-grey-readable);
}
.container ul.specs > li {
  display: inline;
}
.container ul.specs > li:not(:last-child)::after {
  content: ' | ';
}
.container .synopsis {
  margin-block: 1.2em;
}
.container img.rentalLogo {
  max-width: 10em;
  max-height: 7em;
  margin-block: .4em;
}
@media screen and (max-width: 768px) {
  .container {
    display: block;
    overflow: auto;
  }
  .container img.poster {
    float: left;
    width: min(15em, 50%);
    margin-right: 3vw;
    margin-bottom: 3vw;
  }
  .container .rental {
    font: var(--font-small);
  }
}
@media screen and (max-width: 350px) {
  .container img.poster {
    width: 100%;
    margin-right: 0;
    float: unset;
  }
}