.container a,
.container a:active,
.container a:visited {
  color: inherit;
  text-decoration: inherit;
}
.container a:hover {
  color: var(--color-black) !important;
}

.signIn {
  padding: 0.5rem;
  text-wrap: nowrap;
}
.signedIn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  text-transform: none;
  white-space: nowrap;
}
.admin::after {
  content: "\2197";
}
@media screen and (max-width: 768px) {
  .signedIn {
    text-align: right;
  }
}
