.postsWrapper {
    margin: 0 auto;
    color: var(--color-white);
    padding: 3rem 1rem 3rem 1rem;
    width: 100%;
}
@media screen and (min-width: 1000px) {
    .postsWrapper {
        width: min(80vw, var(--page-max-width));
    }
}