.postsWrapper {
    width: min(80vw, var(--page-max-width));
    margin: 0 auto;
    color: var(--color-white);
    padding: 3rem 1rem 3rem 1rem;
}
@media (max-width: 700px) {
    .postsWrapper {
        width: 100%;
    }
}