/* LIST  ****************************************************************/
.list {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(15em, auto));
  margin-inline: auto;
}
.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

/* ITEM  ****************************************************************/
.screening {
  position: relative;
  width: 100%;
  background-color: var(--color-white);
  color: var(--color-black);
  box-shadow: 1px 1px 10px 0px rgb(0 0 0 / 50%);
  display: flex;
  flex-direction: column;
  grid-column: auto;
}
.screening:hover {
  transition: all .3s ease-in-out;
  transform: translate(0px, -2%);
}
.screening img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/1;
}
.info {
  display: flex;
  flex-direction: column;
  aspect-ratio: 3/2;
}
.info >  * {
  margin-block-end: 1rem;
  margin-inline: 1rem;
}
.tags {
  min-height: 1.4rem;
  margin: .3rem;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.tag {
  display: inline-block;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-size-small);
  border-radius: 100px;
  padding-inline: .5em;
  padding-block: .2em;
  white-space: nowrap;
}
.series {
  background-color: var(--color-theme-contrast-light-2);
  color: var(--color-white);
}
.time {
  color: var(--color-theme-contrast-dark);
  font-weight: var(--font-weight-semi-bold);
}
.title {
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}
.footer {
  color: var(--color-light-grey-readable);
  font-size: var(--font-size-small);
  text-transform: uppercase;
  margin-top: auto;
}
.date {
  position: absolute;
  left: 0.5rem;
  top: -0.6rem;
  font-family: "Tahoma", Sans-serif;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
  color: #0B0B0B;
  background-color: rgba(255, 255, 255, .8);
  padding: .75rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.date .dayName,
.date .month {
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-light);
  line-height: var(--font-size-normal);
}
.date .dayNumber {
  font-size: 2.5rem;
  font-weight: var(--font-weight-bold);
  line-height: 2.5rem;
}