.gutter {
  max-width: 96vw;
  margin-inline: auto;
}

@media screen and (min-width: 768px) {
  .gutter.small {
    max-width: 45rem;
  }
}
@media screen and (min-width: 1024px) {
  .gutter.small {
    max-width: 45rem;
  }
  .gutter.medium {
    max-width: 60rem;
    margin-inline: auto;
  }
}

@media screen and (min-width: 1280px) {
  .gutter.large {
    max-width: 80rem;
  }
}
