.gutter {
  width: 100%;
  max-width: 96vw;
  margin-inline: auto;
}

@media screen and (min-width: 768px) {
  .gutter.small {
    max-width: min(45rem, 96vw);
  }
}
@media screen and (min-width: 1024px) {
  .gutter.small {
    max-width: min(45rem, 96vw);
  }
  .gutter.medium {
    max-width: min(60rem, 96vw);
    margin-inline: auto;
  }
}

@media screen and (min-width: 1280px) {
  .gutter.large {
    max-width: min(80rem, 96vw);
  }
}
