.container {
  display: flex;
  flex-direction: column;
}
.title {
  margin-bottom: .2em;
}
.form {
  display: grid;
  grid-template-columns: auto auto;
}
.form button,
.form input {
  font: var(--font-small);
  height: 2em;
  border: none;
  border-radius: 0;
  padding-inline: .5em;
  background-color: var(--color-white);
  color: var(--color-black);
}
.form input::placeholder {
  color: var(--color-font-light);
}
.form button {
  max-width: 2em;
  cursor: pointer;
}
.form button::after {
  content: '\21E8';
  /* color: var(--color-theme); */
}
.form div {
  grid-row: 2;
  grid-column: 1 / span 2;
}
.form div p {
  background: white;
  text-align: center;
  width: 100%;
  padding: .5em;
}
@media screen and (max-width: 768px) {
  .container {
    align-items: center;
  }
  .form button,
  .form input {
    font-size: 16px;  /* prevent iOS auto zoom */
  }
  
}